.header-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: left; */
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid red;
    padding-left: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: medium;
    color: white;
    background-color: rgba(208, 10, 10, 0.881);
}

.header-title i {
    margin-top: 23px;
}

.h12 {

    display: inline-block;
    border-bottom: 5px solid orange;
    padding-bottom: 8px;
    margin-left: 30px;
    border-radius: 10px;


}

.mealD {

    background-color:aliceblue;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
     margin-bottom: 100px;
     border:1px solid lightgray;
}

.div2-img {

    display: inline-flex;
    flex-direction: row;
    padding: 30px;

}

.side-details {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

.side-all {
    display: flex;
    flex-direction: row;
}

.side-img {
    width: 700px;
    height: 700px;
    border-radius: 5px;
}

.side-name {
    width: 600px;
    display: inline-block;
    border-bottom: 3px solid orange;
    padding-bottom: 8px;
    color: orange;

}
.side-p2{
    cursor: pointer;
}



.order-list {
    width: 600px;
    border: 1px solid green;
    background-color: rgb(219, 231, 226);
    padding-left: 20px;
}

.oll-h3 {
    margin-bottom: 18px;
}

.ol-list {
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.spans {
    width: 25px;
    height: 25px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    margin-right: 10px;

}

.measurement {
    width: 900px;
    border: 1px solid green;
    background-color: rgb(223, 225, 225);
    padding-left: 20px;
    margin-left: 200px;
    margin-bottom: 20px;

}

.mesur-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px 12px;
}
.inst-bar{
      width:900px;
     margin-top: 60px;
    padding-left:30px;
    margin-left: 50px;
    padding-bottom:30px;

}
.dp{
    font-size: 15px;
    white-space:pre-line;

}
.h55{
    display: inline-flex;
    border-bottom: 3px solid black;
    font-size: 18px;
   font-style: italic;
}


@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
/* Tablets */
@media (max-width: 768px) {}

/* Mobiles */
@media (max-width: 480px) {}
