body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
#header{
    width:100% auto;
    height:100px auto;
    background-color: rgb(245, 91, 91);
    display:flex;
    flex-direction: row;
    align-items:center;
    /* justify-content: space-around; */
    gap: 80%; 
    padding-left: 20px;
    position:sticky;

}

.titlec{
    display:flex;
    align-items:center;
    gap:5px;
}
.titlec i{
    font-size:25px;

}
.titlec a{
    text-decoration: none;
    color:white;
}

#open-sidebar{
    width:200px;
    max-height:500px;
    background-color: rgba(158, 226, 126, 0.673);
    border:1px solid rgba(14, 16, 14, 0.759);
    border-radius: 10px;
    position:fixed;
    top:80px;
    right:0;
     transform: translateX(100%); 
    transition:0.3s;
    z-index: 999;
     overflow-y: auto;

    
}
#open-sidebar.active{
    transform: translateX(0%); 
}
.sideancher{
    font-size: 20px;
    border-bottom: 2px solid black;
    background-color: white;
    padding:10px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.main{
    width:100%;
    height:100vh;

}
.background{
    width:100%;
    height:100vh;
    background-image: url("../Assets/mainback-image.jpg");
    background-size: cover;

}

.input-ser{
   display:flex;
   flex-direction:row;
   justify-content: center;
   padding-top: 20%;
   gap:1px;
   
} 
.input-ser input{
    width:400px;
    padding:15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    
}
.input-ser button{
    padding:15px;
   border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(89, 232, 124);
    color:rgb(8, 8, 211);

}
.bg-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
}
.bg-text h1{
    color:white;
    font-size: 40px;

}
.bg-text p{
    font-size:20px;
    font-weight: bold;
    color:block;
}
.p-disc{
    width:90%;
    font-size: 30px;
 
    color:black;

}
.description{
    width:100% auto;
    height:400px auto;
   
    border:1px solid black;
   
}
.cardscat{
    background-color: rgb(209, 207, 207);
    padding:15px 15px 15px 10px;
}
.category{
    width:100% auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
   gap:10px;
    
}
.card{
    background-color: white;
  border-radius: 5px;;
 padding:10px;
}
.card img{
    width:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-bottom: 20px;
   
    
}