body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
#header{
    width:100%;
 
    max-height:auto;
    background-color: rgb(231, 14, 14);
    display:flex;
    flex-direction: row;
    align-items:center;
    padding-left: 50px;
    position:fixed;

}

@media (max-width: 600px) {
  header h1 {
    font-size: 18px;
       max-width:1200px;
  }
}


.titlec{
    display:flex;
    align-items:center;
    gap:5px;
}
.titlec i{
    font-size:25px;

}
.titlec a{
    text-decoration: none;
    color:white;
}

.sidebarc{
    width:100%;
   padding-left: 75%;
   
}
.openc{
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgb(226, 46, 46) ;
}
.openc i{
    color:white;
    font-weight: bold;
    
}


#open-sidebar{
    width:200px;
    max-height:500px;
    background-color: rgba(158, 226, 126, 0.673);
    border:1px solid rgba(14, 16, 14, 0.759);
    border-radius: 10px;
    position:fixed;
     top: 0;
     right:0px;
    transform: translateX(100%);  
    transition:0.3s;
    z-index: 999;
     overflow-y: auto;
   

    
}
#open-sidebar.active{
    transform: translateX(0%); 
    
}
@media (max-width: 768px) {
  #open-sidebar {
    width: 80%;
  }
}

.closec {
  position: absolute;
  top: 5px;      /* ⬅️ better */
  right: 0px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
  color: white;
}


.sideancher{
    font-size: 20px;
    border-bottom: 0.5px solid black;
    background-color: white;
    padding-left: 10px;
    padding-top:20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
     flex-wrap: wrap;
}
.main{
    width:100%;
    height:100vh;

}
.background{
    width:100%;
    height:auto;
    background-image: url("../Assets/mainback-image.jpg");
    background-size: cover;

}

.input-ser{
   display:flex;
   flex-direction:row;
   justify-content: center;
   padding-top: 20%;
   gap:1px;
   
} 
.input-ser input{
    width:400px;
    padding:15px;
    border-radius: 30px;;

    font-size: 20px;
    
}
.input-ser button{
    padding:15px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(237, 44, 5);
    color:rgb(210, 210, 210);

}
.bg-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
     flex-wrap: wrap;
}
.bg-text h1{
    color:white;
    font-size: 40px;

}
.bg-text p{
    font-size:20px;
    font-weight: bold;
    color:block;
}
.p-disc{
  font-size:18px;
    padding:20px;
    border:1px solid green;
    background-color: lightcyan;
    margin: 10px;


}
.description{
    width:100% auto;
    height:400px auto;
    border:1px solid black;
    
   
}
.desimg{
    width:500px;
    padding-left: 20px;
}
.descname{
     padding-left: 20px;

}
.cardscat{
    background-color: rgb(209, 207, 207);
    padding:15px 15px 15px 10px;
}
.category{
    width:100% auto;
    display:grid;
    grid-template-columns:repeat(5, 1fr); 
   gap:16px;
   
    
}
.card{
    background-color: white;
  border-radius: 5px;;
 padding:10px;
 flex-wrap: wrap;
}
.card img{
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-bottom: 20px;
     transition: transform 0.3s ease;
      flex-wrap: wrap;
}
.card:hover img{
    transform:scale(1.25)
}

@media (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
/* Tablets */
@media (max-width: 768px) {}

/* Mobiles */
@media (max-width: 480px) {}
